<html>
    <head>
        <title>
            conductor
        </title>
    </head>
    <body>
            <style>
                #t{
                    background: black;
                    height: 40%;
                    width: 100%;
                }
                
                h1{
                    color: wheat;
                    font-size: 3em;
                    text-align: center;}
                </style>
                
                <section id="t">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 >Login Credentials of Bus Conductor</h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
        
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font size="4"   > <b>Enter Username</b></font>
         <input type="text" name="Username" align= "center" style="font-size: 18pt; height: 40px; width:280px; ">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <font size="4" > <b>Enter Password</b></font>
          <input type="password" name="Password" align= "center" style="font-size: 18pt; height: 40px; width:280px; ">
          <br>
          <br>
         <center>
                <form action="/conductor" method="GET">
                <input type="submit" style="height:40px; width:80px" value="Submit">
            </form>

         </center>
           
    </body>
</html>