<!DOCTYPE html>
<head>
    <title> Transport Management System </title>
    <link rel = "stylesheet" type = "text/css" href = "style.css" />
</head>
<body>
    <div style="padding: 8%; background-color: black; -webkit-text-fill-color: teal; text-align: center;">
        <h1>Agency Name</h1>
    </div>
    <div id="Agency Menu">
        <ul>
            <li><a href="BreakdownsInfo.html"> Breakdowns </a></li>
            <li><a> Demand Analysis </a></li>
            <li><a href="FeedbackFormInfo.html"> Feedback forms </a></li>
            <li style="float:right;"><a> Logout </a></li>
        </ul>
    </div>
    <div id="Demands">
        <table>
            <tr>
                <th> <b>Bus ID</b> </th>
                <th> <b>Graphs</b> </th>
            </tr>
            <tr>
                <td> XYZ </td>
                <td> <a href="graph.png"> View Graph</a></td>
            </tr>
        </table>
    </div>
</body>