<html>
    <head>
        <title>
            USER
        </title>
    </head>

    <style>
    #h{
        background-color:black;
    width: 100%;
    height:45%;
  border: 1px solid black; 
    }

    h1{
        font-size: 4em;
        color:white;
        text-align: center;
        /* margin-right: 150; */
    }

    #beechmai{
        text-align: center;
        margin-left0: 30;
    }

    button {
    background-color: 
        #0a1a3b;
        /* linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0)); */

    color: white;
    /* : dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */
    font-family: "Arial";
    /* text-fill: linear-gradient(white, #d0d0d0); */
    font-size: 12px;
    padding: 10 20 10 20;
    width: 150px;
    height: 30px;
    /* margin-left: 45% */
}
    </style>
    <body>
            <!-- <img src="icon.jpg" alt="Flowers in Chania"> -->
        <section id="h">
            
            <h1>GET ROUTE</h1>
            
        </section>
        <section id="beechmai">
                <p>
                        From   :<input type="text" name="fname">  To  : <input type="text" name="fname">
           <br>
           <br>
           Time Of Travel : <input type="text" name="fname">
           <br>
           <br>
            <form action="/showRoutes" method="GET">
                <button>Show Route</button>
              </form>
        </p>
        </section>
           
    </body>
</html>